.wrapper {
	width: 100%;
	height: 35vw;
    margin: auto;
    background-color: red;
	/* background: #fff url("https://s-media-cache-ak0.pinimg.com/originals/a4/f2/cb/a4f2cb80ff2ae2772e80bf30e9d78d4c.gif") no-repeat center; */
	background-size: 200px 200px;
}

.slides {
	position: absolute;
	height: 35vw;
	width: 100%;
}

#slide1{
    background-color: yellow;
	/* background: transparent url("https://www.planwallpaper.com/static/images/hd-wallpaper-1080p-widescreen-1080p-backgrounds.jpg") no-repeat center; */
	background-size: cover;
	animation: left1 15s infinite;
}

#slide2 {
    background-color: green;
	/* background: transparent url("https://www.planwallpaper.com/static/images/hd-beach-wallpapers-1080p.jpg") no-repeat center; */
	background-size: cover;
	animation: left2 15s infinite;
	left: 100%;
	
}
#slide3 {
    background-color: aquamarine;
	/* background: transparent url("https://www.planwallpaper.com/static/images/01819_birdonabranch_1920x1080.jpg") no-repeat center; */
	background-size: cover;
	animation: left3 15s infinite;
	left: 200%;
}

@keyframes left1 {
0% {left: 0%; right:0%;}
26.8% {left: 0%; right:0%;}
33.5% {left: -100%; right: 100%;}
93.8% {left: -200%; right: 200%;}
100% {left: 0%; right: 0%;}
}

@keyframes left2 {
0% {left: 100%; right:-100%;}
26.8% {left: 100%; right:-100%;}
33.5% {left: 0%; right: 0%;}
60.3% {left: 0%; right: 0%;}
67% {left: -100%; right: 100%;}
93.8% {left: -100%; right: 100%;}
100% {left: 100%; right: -100%;}
}

@keyframes left3 {
0% {left: 200%; right:-200%;}
26.8% {left: 200%; right:-200%;}
33.5% {left: 100%; right: -100%;}
60.3% {left: 100%; right: -100%;}
67% {left: 0%; right: 0%;}
93.8% {left: 0%; right: 0%;}
100% {left: 200%; right: -200%;}
}




/* EXAMPLE TWO */
div.scrollmenu {
    background-color: rgba(252, 2, 2, 0.767);
    overflow: auto;
    height: 550px;
    white-space: nowrap;
  }
  
  div.scrollmenu .make_clear {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }

/* EXAMPLE TWO */